@charset "UTF-8";
#my-msg {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  z-index: 99999;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  /* 消息提示框容器样式 */
}

#my-msg .message {
  display: flex;
  align-items: center;
  min-width: 300px;
  padding: 8px 16px;
  overflow: hidden;
  margin-top: 20px;
  border-radius: 6px;
  background-color: #edf2fc;
  border: 1px solid #edf2fc;
  font-size: 16px;
  /* 内容居中 */
  /* 成功提示框样式 */
  /* 错误提示框样式 */
  /* 警告提示框样式 */
}

#my-msg .message p {
  line-height: 1;
  font-size: 14px;
  color: #909399;
}

#my-msg .message.center {
  justify-content: center;
}

#my-msg .message.success {
  background-color: #e1f3d8;
  border-color: #e1f3d8;
}

#my-msg .message.success p {
  color: #67c23a;
}

#my-msg .message.error {
  background-color: #fef0f0;
  border-color: #fef0f0;
}

#my-msg .message.error p {
  color: #f56c6c;
}

#my-msg .message.warning {
  background-color: #fdfce6;
  border-color: #fdfce6;
}

#my-msg .message.warning p {
  color: #e6a23c;
}
