body {
  background-color: #2f3242;
}
div, p, h1, a {
  width: max-content;
  margin: 0;
  padding: 0;
}
.transition {
  transition: all .3s ease;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
}
.message-box {
  height: 1px;
  width: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  .message-content {
    width: 120px;
    height: 160px;
    position: absolute;
    top: -80px;
    left: -60px;
    color: #fff;
    transform: translateX(140px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
    }
    .link-button {
      margin-top: 20px;
      width: 100px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 4px;
      background: #68c950;
      color: #fff;
      font-weight: bold;
      font-size: 14px;

      text-decoration: none;
      &:hover {
        filter: brightness(1.4);
        color: #000;
      }
    }
  }
}

@media (max-width: 980px) {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
  }
  .message-box .message-content {
    transform: translateX(0);
  }
}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}
@for $i from 1 to 5 {
  #Polygon-#{$i + 1} {
    $x: 0.2 * $i + 's';
    animation-delay: #{$x};
  }
}

@keyframes float {
  100% {
    transform: translateY(20px);
  }
}
